BasedOnStyle: LLVM
BreakBeforeBraces: Attach
BreakTemplateDeclarations: Yes
ColumnLimit: 130
IndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Left
SpaceAfterTemplateKeyword : false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 150
UseTab: Never
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"[^/].*\.(h|hpp)"'
    Priority: 1
  - Regex: '^"[^/].*"'
    Priority: 2
  - Regex: '^<(Eigen|Spectra|nlohmann|boost)/[^>]+>'
    Priority: 4
  - Regex: '^<[^/]+/[^>]+>'
    Priority: 3
  - Regex: '^<[^/]+>'
    Priority: 5
IncludeIsMainRegex: '(^|/)([^/]+)\.(cpp|cc)$'
SortIncludes: true
Cpp11BracedListStyle: Block
LineEnding: LF
BreakBeforeTernaryOperators: true
OneLineFormatOffRegex: ///$